[flake8]
# ALL THE FUCKING USELESS FLAGS FROM THIS FUCKING USELESS STANDARD, 
# WHAT IS THE POINT OF HAVING STANDARDS ON AN ALREADY EXTREMELY LIMITED SYNTAX LANGUAGE?
extend-ignore = E501, E999, W293, W291, W292, W191, E101, E713
