*
!config
!config/**/*

!docs
!docs/**/*

!include
!include/**/*

!origin
!origin/*
!origin/**/

!src
!src/**/*

!tools/
!tools/scripts/
!tools/scripts/**/*.py

!.flake8
!.gitignore

!configure.py
!setup_tools.py