*
!config
!config/**/*

!docs
!docs/**/*

!include
!include/**/*

!origin
!origin/*
!origin/**/
!origin/**/*.map

!src
!src/**/*

!tools/
!tools/*.py

!.flake8
!.gitignore

!configure.py
!setup_tools.py